#include "resource.h"

//main menu buttons
MAINMENU MENU 
{
	MENUITEM "Start", CM_START
	MENUITEM "Change Startpoint", CM_STARTPOINT
	POPUP "Change Grid"
 	{
  		MENUITEM "5x5", CM_GRID_5
  		MENUITEM "6x6", CM_GRID_6
  		MENUITEM "7x7", CM_GRID_7
  		MENUITEM "8x8", CM_GRID_8
  		MENUITEM "9x9", CM_GRID_9	
		MENUITEM "10x10", CM_GRID_10
 	}
 	MENUITEM "About", CM_ABOUT
 	MENUITEM "Exit", CM_EXIT
}

//art assets
IDI_MYICON ICON "knight_icon.ico"
IDB_SPRITE BITMAP DISCARDABLE "knight_sprite.bmp"
IDB_LIGHT_TILE BITMAP DISCARDABLE "light_tile.bmp"
IDB_DARK_TILE BITMAP DISCARDABLE "dark_tile.bmp"
IDB_FLAG_SPRITE BITMAP DISCARDABLE "flag_sprite.bmp"
