#include "resource.h"

//main menu buttons
MAINMENU MENU 
{
	POPUP "Menu"
	{
		MENUITEM "Start", CM_START
		MENUITEM "Pause", CM_STOP
		MENUITEM "Reset", CM_RESET
	}
	POPUP "Startpoint"
	{
		MENUITEM "Top Left", CM_LEFTCORNER
		MENUITEM "Center", CM_CENTER
		MENUITEM "Random", CM_RANDOM
	}
	
	POPUP "Grid"
 	{
  		MENUITEM "5x5", CM_GRID_5
  		MENUITEM "6x6", CM_GRID_6
  		MENUITEM "7x7", CM_GRID_7
  		MENUITEM "8x8", CM_GRID_8
  		MENUITEM "9x9", CM_GRID_9	
		MENUITEM "10x10", CM_GRID_10
		MENUITEM "15x15", CM_GRID_15
		MENUITEM "16x8", CM_GRID_RECT
 	}
 	
 	POPUP "Speed"
 	{
 		MENUITEM "Slow", CM_SLOW
 		MENUITEM "Normal", CM_NORMAL
 		MENUITEM "Fast", CM_FAST
 	}
 	MENUITEM "About", CM_ABOUT
 	MENUITEM "Exit", CM_EXIT
}

//art assets
IDI_MYICON ICON "knight_icon.ico"
IDB_SPRITE BITMAP DISCARDABLE "knight_sprite.bmp"
IDB_LIGHT_TILE BITMAP DISCARDABLE "light_tile.bmp"
IDB_DARK_TILE BITMAP DISCARDABLE "dark_tile.bmp"
IDB_FLAG_SPRITE BITMAP DISCARDABLE "flag_sprite.bmp"
